#its a router to process the transaction, dont change!
WBNB_CONTRACT=0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c
FACTORY=0xcA143Ce32Fe78f1f7019d7d551a6402fC5350c73
ROUTER=0x10ED43C718714eb63d5aA57B78B54704E256024E
NETWORK_RPC=https://bscscan.com
WSS_NODE=wss://bsc-ws-node.nariox.org:443
#its a router to process the transaction, dont change!

#you can change the port ig you want use the bot in multiple terminals
PORT=5000
#you can change the port ig you want use the bot in multiple terminals

#your address configuration
YOUR_ADDRESS=
YOUR_MNEMONIC=
#your address configuration

#Snipe Configuration
TO_PURCHASE=0x0C6D315AE8c9845F4d3023D8f4278009D9b8f290
AMOUNT_OF_WBNB=0.002

SLIPPAGE_BUY=0
SLIPPAGE_SELL=0

GWEI_SELL=5
GWEI_BUY=5

INCREASE_PRICE=300
AMOUNT_OF_SELL=98

GAS_LIMIT=500000
ATTEMPTS=5


CHECK_LIQUIDTY_ADDED=false
MIN_LIQUIDITY_ADDED=0.001

SPAM_BUY=NULL
LAST_NONCE=750

DXSALE_COWNER=
UNICRYPT_CA=aaaaaaaaaaa

#Snipe Configuration

VERSION=1.1.3

